@import url("./rootStyles.css");

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body{
  background-color: var(--background-color);
}

.main-container{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px auto;
  animation: window-appear 0.5s ease-in-out 0s 1 normal forwards;
}

.device-container{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  height: 100%;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inspector-window-container{
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  height: calc(100% - 40px); /* Subtract the padding from the height */
  width: calc(100% - 40px); /* Subtract the padding from the width */
  background-color: var(--front-color);
  border: solid transparent 1px;
  border-radius: 5px;
  margin: 20px;
  position: relative;
}

.inspector-icon{
  position: absolute;
  left: 5px;
  top: 5px;
  height: 20px;
  width: 20px;
  padding: 5px;
}

.inspector-data-holder{
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  pointer-events: none;
}

.inspector-data-holder img{
  max-height: 150px;
  margin-top: 50px;
}

.inspector-data-holder h2{
  margin: 5px;
  font-size: 2vw;
  color: var(--text-color);
}

.inspector-data-holder p{
  position: absolute;
  margin: 5px;
  font-size: 18px;
  color: #e0dcf245;
  align-self: center;
  margin-top: 240px;
}

.options-container{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.device-list{
  height: 90%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  background-color: transparent;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 10px;
  direction: rtl;
  margin-left: 20px;
}

.device-list li{
  height: 70px;
  width: 90%;
  margin-right: 10%;
  border: solid transparent 2px;
  border-radius: 5px;
  background-color: var(--front-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  direction: ltr;
  animation: li-appear 0.5s ease-in-out 0s 1 normal forwards;
}

.device-list li img,
.device-list li h1{
  pointer-events: none;
}

.device-list li:hover
{
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(1.025); 
}

.device-list li:active{
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(1.05); 
}


.device-list::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

.device-list::-webkit-scrollbar-track {
  border-radius: 5px;
  background: var(--front-color); /* Adjust the background color of the scrollbar track */
}

.device-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--scrollbar-color);
}

.device-list::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.5); /* Adjust the color of the scrollbar thumb on hover */
}

.device-list li img{
 height: 50px;
 width: 50px;
 padding: 5px; 
 margin: 5px;
}

.device-list li h1{
  font-family: Roboto, sans-serif;
  font-size: 20px;
  position: relative;
  padding: 5px;
  color: var(--text-color);
}

@keyframes window-appear {
  0%{
    transform: translateY(20px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes li-appear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


