@import url("./rootStyles.css");

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.welcome-container{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.welcome-container h1{
    font-size: 65px;
    color: white;
    z-index: 999;
    margin-top: 100px;
    font-family: "Open sans", cursive;

    animation: appear-from-nothing 0.5s ease-in-out 0s 1;
}

.welcome-container button{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 30px;
    font-family: "Open sans", cursive;
    z-index: 999;
    color: var(--text-color);
    background-color: rgb(255, 56, 56);
    border: solid transparent 1px;
    cursor: pointer;
    opacity: 0;

    animation: appear-from-nothing 0.5s ease-in-out 0.5s 1 forwards;
}

.glass1{
    position: absolute;
    height: 750px;
    width: 750px;
    right: -300px;
    bottom: -450px;
    border-radius: 50%;

    background: rgba(0,204,235,0.9);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0);

    animation: glass-one-enter 2s ease-in-out 0s 1;
}

.glass2{
    position: absolute;
    height: 600px;
    width: 600px;
    left: -180px;
    bottom: -320px;
    border-radius: 25px;
    transform: rotate(37deg);

    background: rgba(255, 56, 56, 0.9);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0);

    animation: glass-two-enter 2.4s ease-in-out 0s 1;
}

.glass3{
    position: absolute;
    height: 200px;
    width: 400px;
    left: 280px;
    bottom: -10px;
    transform: rotate(330deg);

    border-radius: 20px;
    background: rgba(255,200,20, 0.9);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0);

    animation: glass-three-enter 2.2s ease-in-out 0s 1;
}

.glass4{
    position: absolute;
    height: 300px;
    width: 300px;
    left: 500px;
    bottom: -120px;
    transform: rotate(20deg);

    background: rgba(0,214,1, 0.9);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0);

    animation: glass-four-enter 2.5s ease-in-out 0s 1;
}

@keyframes glass-one-enter {
    0%{
        transform: translate(500px, 500px);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes glass-two-enter {
    0%{
        transform: rotate(0deg) translate(500px, 500px);
    }
    100%{
        transform: rotate(37deg) translate(0);
    }
}

@keyframes glass-three-enter {
    0%{
        transform: rotate(0deg) translate(500px, 500px);
    }
    100%{
        transform: rotate(-30deg) translate(0);
    }
}

@keyframes glass-four-enter {
    0%{
        transform: rotate(0deg) translate(500px, 500px);
    }
    100%{
        transform: rotate(20deg) translate(0);
    }
}

@keyframes appear-from-nothing {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes disappear-to-nothing {
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes glass-one-leave {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-500px, 500px);
    }
}

@keyframes glass-two-leave {
    0%{
        transform: rotate(37deg) translate(0);
    }
    100%{
        transform: rotate(0deg) translate(-500px, 500px);
    }
}

@keyframes glass-three-leave {
    0%{
        transform: rotate(-30deg) translate(0);
    }
    100%{
        transform: rotate(0deg) translate(-500px, 500px);
    }
}

@keyframes glass-four-leave {
    0%{
        transform: rotate(20deg) translate(0);
    }
    100%{
        transform: rotate(0deg) translate(-500px, 500px);
    }
}

/* RADAR ANIMATION RELATED */

.radar-container {
    position: absolute;
    height: 400px;
    width: 400px;
    top: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.ring {
    position: absolute;
    border-radius: 50%;
}
  
.ring-1 {
    width: 392px;
    height: 392px;
    top: 0px;
    left: 0px;
    border: 4px solid rgb(0, 204, 235);
    background: radial-gradient(transparent, transparent, white);
    animation: ring-one-enter 1s ease-in-out 0s 1;
    z-index: 10;
}
  
.ring-2 {
    width: 292px;
    height: 292px;
    top: 50px;
    left: 50px;
    border: 4px solid rgb(255, 200, 20);
    animation: ring-two-enter 0.3s ease-in-out 0s 1;
}
  
.ring-3 {
    width: 192px;
    height: 192px;
    top: 100px;
    left: 100px;
    border: 4px solid rgb(255, 56, 56);
    animation: ring-three-enter 0.6s ease-in-out 0s 1;
}
  
.ring-4 {
    width: 92px;
    height: 92px;
    top: 150px;
    left: 150px;
    border: 4px solid rgb(0, 214, 1);
    animation: ring-four-enter 0.5s ease-in-out 0s 1;
}
  
.ring-5 {
    width: 10px;
    height: 10px;
    top: 195px;
    left: 195px;
    background-color: orange;
    animation: ring-five-enter 0.7s ease-in-out 0s 1;
    z-index: 10;
}
  
.ring-6 {
    width: 42px;
    height: 42px;
    top: 177px;
    left: 177px;
    border: 2px solid white;
    animation: ring-six-enter 1s ease-in-out 0s 1;
}
  
.spinning-line {
    content: " ";
    display: block;
    background-image: linear-gradient(44deg, rgba(0, 255, 51, 0) 50%, #ffffff 100%);
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    left: -2px;
    animation: radar-beam 5s infinite;
    animation-timing-function: linear;
    transform-origin: bottom right;
    border-radius: 100% 0 0 0;
    animation: spinningLine 2s linear 0s infinite;
    border-right: solid white 2px; 
}
  
@keyframes spinningLine {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
.vertical-line,
.horizontal-line {
    position: absolute;
    background-color: white;
}
  
.vertical-line {
    top: 0;
    left: 199px;
    height: 100%;
    width: 2px;
    animation: vertical-line-enter 1s ease-in-out 0s 1;
}
  
.horizontal-line {
    top: 199px;
    left: 0;
    width: 100%;
    height: 2px;
    animation: horizontal-line-enter 1s ease-in-out 0s 1;
}

@keyframes ring-one-enter {
    0%{
        transform: translate(500px, 500px);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes ring-two-enter {
    0%{
        transform: translate(-500px, 50px);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes ring-three-enter {
    0%{
        transform: translate(-500px, -500px);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes ring-four-enter {
    0%{
        transform: translate(50px, 500px);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes ring-five-enter {
    0%{
        transform: translate(0px, 500px);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes ring-six-enter {
    0%{
        transform: translate(0px, -500px);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes horizontal-line-enter {
    0%{
        transform: translate(0px, -500px);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes vertical-line-enter {
    0%{
        transform: translate(0px, -500px) rotate(90deg);
    }
    100%{
        transform: translate(0) rotate(0deg);
    }
}

@keyframes ring-leave {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(1000px);
    }
}

@keyframes horizontal-line-leave {
    0%{
        transform: translateY(0) rotate(0deg);
    }
    100%{
        transform: translateY(1000px) rotate(180deg);
    }
}

@keyframes vertical-line-leave {
    0%{
        transform: translateY(0) rotate(0deg);
    }
    100%{
        transform: translateY(1000px) rotate(90deg);
    }
}

/* ####################### */

